body {
    margin: 0px;
    padding: 0px;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: #45486f;
}

#logo {
    position: absolute;
    display: flex;
    justify-content: center;
    top: -1;
}

#map {
    height: 100vh;
    width: 100vw;
    z-index: 9;
}


#nav {
    width: 100vw;
    height: 10vh;
    background: #45486f;
    z-index: 999;

}


#sidebar {
    height: 100vh;
    width: 30vw;
    background: linear-gradient(to top, #396f90 0%, #45486f 90%);
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 99;
    border-radius: 10px;

}

#sidebarShow {
    display: flex;
    text-align: center;
    justify-content: center;
    height: 3vh;
    width: 3vh;
    top: 3vh;

    left: 2vh;
    z-index: 999999;
    position: absolute;
    font-size: 3vh;
    color: white;
}


#blabla {
        display: flex;
        flex-direction: column;
}


#sidebarShow:hover {
    text-decoration: underline solid white 3px;
    cursor: pointer;
}

h1,
p {
    color: white;
    font-size: 30px;
}

#help {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 69vw;
}

#sb-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.popup {
    position: absolute;
    z-index: 9999;
    background-color: white;
    border: 1px solid black;
    padding: 10px;
}

h2 {
    color: white;
    
}